<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body style="max-width: 500px; margin-left: 35em; margin-top: 10em; background-image: url(/asset/mainPageImg/img/the-games-bg.jpg);">
    <fieldset style="background-color: rgb(236, 209, 56);">
        <header>
            <h1 class="title">Login</h1>
        </header>
        <div>
              <br>
              <fieldset>
              <form id="survey-form"  action="/login" method="POST">
              <div class="form">
                
                <label for="name" id="name-label">Name</label>
                <br>
                <input type="text" name="name" id="name" class="client-form" placeholder="Your name" required />
                <br>
                <label for="password" id="number-label">Password</label>
                <br>
                <input type="text" name="password" id="password" placeholder="password" required>
                </div>
                <br>
                <button type="submit" id="submit" class="submit-button">Masuk</button>
                </form>
        </div>
    </fieldset>            
</body>
</html>